@import "common/variables.css";

.example-wrapper {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.content-box {
  text-align: center;
  padding-top: 100px;

  & p {
    font-size: 2.5em;
    color: color(var(--dark-gray) alpha(80%));

    @media (--mobile),(--tablet) {
      font-size: 1.6em;
      line-break: 2em;
    }
  }

  & span {
    display: block;
  }
}

.describe {
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 17px 0 32px 0;
  color: color(var(--dark-gray) alpha(80%));

  @media (--mobile),(--tablet) {
    font-size: 1.15em;
    line-height: 1.15em;
  }
}

.more {
  color: var(--purple);

  @media (--mobile),(--tablet) {
    font-size: 1em;
    line-height: 1.2em;
  }
}

.example-box {
  position: relative;
}

.phone-box {
  width: 328px;
  height: 669px;
  background-size: 328px 669px;
  background-image: url("./imgs/iPhone 6S.png");
  background-repeat: no-repeat;
  margin: auto;
}

.content-screen {
  position: absolute;
  top: 80px;
  height: 300px;
  overflow: hidden;
}

.view-screen {
  float: left;
  width: 300px;
  height: 300px;
  /*background-color: yellowgreen;*/
}
