@import "common/variables.css";

.example-wrapper {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.content-box {
  text-align: center;
  padding-top: 100px;

  & p {
    font-size: responsive 1.6rem 1.6rem;
    font-range: 768px 1200px;

    color: color(var(--dark-gray) alpha(80%));
  }

  & span {
    display: block;
  }
}

.describe {
  font-size: responsive 1.15rem 1.25rem;
  font-range: 768px 1200px;
  line-height: 1.15;
  padding: 17px 0 32px 0;
  color: color(var(--dark-gray) alpha(80%));

}

.more {
  color: var(--purple);
  font-size: 1rem;
  line-height: 1.2;
}

.example-box {
  position: relative;
  padding-top: 40px;
}

.phone-box {
  width: 328px;
  height: 669px;
  background-size: 328px 669px;
  background-image: url("./imgs/iPhone 6S.png");
  background-repeat: no-repeat;
  margin: auto;
}

.content-screen {
@apply --wrapper;
  height: 669px;
  overflow: hidden;
  & li {
  @apply --unstyled-list;
    position: relative;
    float: left;
    width: 33.33%;
    height: 669px;
    background-size: 328px 669px;
    background-image: url("./imgs/iPhone 6S.png");
    background-repeat: no-repeat;

    @media (--mobile),(--tablet) {
      float: none;
      width: 100%;
      margin: auto;
      margin-bottom: 110px;
    }
    & :last-child {
      @media (--mobile),(--tablet) {
        margin-bottom: 0;
      }
    }
  }

  @media (--mobile),(--tablet) {
    overflow: auto;
    height: auto;
    padding: 0 10%;
  }
}

.view-screen {
  width: 284px;
  height: 506px;
  background-color: yellowgreen;
  position: absolute 82px 0 0 22px;

  @media (--mobile),(--tablet) {
    position: absolute 82px 0 0 22px;
    margin: 0;
    margin-bottom: 110px;
  }
}
