@import "common/variables.css";

.service-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: color(var(--light-blue) alpha(50%));

  @media (--mobile),(--tablet) {
    height: auto;
  }
}

.content-box{
  float: left;
  width: 50vw;
  height: 100vh;
  display: table;

  @media (--mobile),(--tablet) {
    width: 100vw;
    padding: 50px 0;
    text-align: center;
    height: auto;
  }

}

.content {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20%;

  & p {
    font-size: responsive 1.57rem 2.5rem;
    font-range: 768px 1200px;

    color: color(var(--dark-gray) alpha(80%));
  }

  & span {
    color: var(--purple);
    display: block;
  }

}

.describe {
  font-size: responsive 1.25rem 1.12rem;
  font-range: 768px 1200px;
  line-height: 1.5;
  padding: 17px 0 32px 0;
}

.more {
  font-size: 1rem;
}

.img-box {
  position: absolute;
  right: 0;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (--mobile),(--tablet) {
    position: relative;
    width: 100vw;
    height: 400px;
    padding: 0 16px;
  }
}
