@import "common/variables.css";

.examples {
  min-height: calc(100vh);
}

.wrapper {
  composes: wrapper from "homeland/styles/common/helpers.css";
}

.container {
  text-align: center;
}

.container h2 {
  font-size: responsive 1.5rem 3rem;

  @media (--tablet) {
    font-size: 1.5rem;
  }
}

.container p {
  font-size: responsive 1rem 1.2rem;
}

.slide {
  padding: 3rem;
}

.pagination {
}

.indicator {
}

.indicator-active {
}
