@import "common/variables.css";

.features {
  color: #9a9a9a;
}

.wrapper {
  composes: wrapper from "../../common/helpers.css";
  min-height: calc(100vh);
  padding-top: 2rem;
  padding-bottom: 2rem;
  
  @media (--mobile) {
    text-align: center;
  }
}

.heading {
  clear: fix;
  margin-bottom: 2rem;
}

.heading p {
  @media (--tablet), (--laptop), (--desktop) {
    lost-column: 1/2 0 0;
  }
}

.heading header {
  font-size: responsive 1.6rem 3.2rem;
}

.list {
  composes: unstyled-list from "../../common/helpers.css";
  clear: fix;
  text-align: center;
}

.list li {
  lost-column: 1/4 4 2rem;
  margin-bottom: 2rem;
  border: 1px solid #cdcdcd;

  @media (--mobile) {
    lost-column: 1/2 2 1rem;
    margin-bottom: 1rem;
  }

  @media (--tablet) {
    lost-column: 1/4 4 1rem;
    margin-bottom: 1rem;
  }
}

.link {
  display: block;
  padding: 2rem;
  color: #9a9a9a;
  text-decoration: none;

  @media (--desktop), (--laptop) {
    & div {
      transition: .2s ease-in;
    }
  }
}

@media (--desktop), (--laptop) {
  .link div:last-child {
    opacity: 0;
    transform: translateY(15%);
  }

  .link:hover div:last-child {
    opacity: 1;
    transform: translateY(0);
  }

  .link div:not(:last-child) {
    transform: translateY(30%);
  }

  .link:hover div:not(:last-child) {
    transform: translateY(0);
  }
}

.icon {
  font-size: 3rem;
}

.title strong::after {
  content: "";
  display: block;
  margin: .5rem auto .25rem;
  height: 2px;
  width: 20%;
  background-color: #cdcdcd;
}
