@import "common/variables.css";

.showcase {
  color: white;
  background-color: var(--purple);
}

.wrapper {
  lost-align: center;
  min-height: calc(100vh - 80px);
}

.wrapper section {
  width: 67%;
}

.slogan {
  font-size: responsive 2rem 4rem;
  font-weight: bold;
  line-height: 2;

  & + p {
    margin-bottom: 3rem;
    font-size: responsive 1.2rem 1.8rem;
  }
}

.know-more {
  composes: button button-primary from "homeland/styles/common/helpers.css";
  display: inline-block;
  padding: 12px 3rem;
}

.play-video {
  position: relative;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  background-color: #9a9a9a;
  cursor: pointer;
}

.play-video::after {
  content: "";
  position: absolute 28px auto auto 18px;
  border: 10px solid transparent;
  border-right: none;
  border-left-color: white;
  transform: translate(3px, -14px);
}
