@import "common/variables.css";


.header-wrapper{
  padding: 80px 16px 0;
  background-color: var(--green);
  text-align: center;
  color: white;
  & p{
    font-size: responsive 1.5625rem 2.5rem;
    line-height: 1.5;
    padding: 160px 0;
    @media (--mobile),(--tablet){
      padding: 64px 0;
    }
  }
}
