.menu {
  position: absolute 1.5rem 0 0 1.5rem;
  width: 32px;
  height: 32px;
  pointer-events: none;
  transition: .2s;
}

.menu:global(.scaled) {
  transform: scale(.5);
}

.menu svg {
  position: absolute -35px 0 0 -35px;
}

.menu svg path {
  stroke: white;
  stroke-width: 3px;
  stroke-linecap: round;
  fill: transparent;
}

.menu button {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  pointer-events: auto;
}

