@import "common/variables.css";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Kiro, "Helvetica Neue", Helvetica, Arial, "Pingfang SC", STHeiti,
  "Microsoft YaHei", 微软雅黑, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  overflow-x: scroll;
}

pre, code {
  font: 0.875rem / 1.5 Hack, monospace;
}

:global(.ember-application) {
  animation: application 0.5s
}

@keyframes application {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

[data-ember-action]:not(:disabled) {
  cursor: pointer
}

:global(:any-link) {
  color: var(--purple);
  text-decoration: none;
  transition: color .2s;
}

:global(:any-link:hover),
:global(:any-link:focus) {
  color: color(var(--purple) shade(34%));
}

/* BELOW ARE ONLY USED FOR UI GUIDE */
:global(.ui-guide) {
  margin: 1rem;
  background-color: #dee5e8;
}

:global(.ui-guide [role="banner"]) {
  color: var(--purple);
  background-color: gray(255);
}
