@import "common/variables.css";

.wrapper {
  @apply --wrapper;
}

.banner > .wrapper {
  padding: 1rem;
}

.footer > .wrapper {
  padding: 0 1rem;
}

.banner {
  color: white;
  background-color: var(--purple);
}

.brand {
  lost-column: 1/4 0 0;
  margin: 0;
  cursor: pointer;

  @media (--mobile) {
    lost-column: none;
    padding-right: 0.5rem;
    text-align: right;
  }
}

nav {
  lost-column: 3/4 0 0;
  background-color: var(--purple);

  @media (--mobile) {
    lost-column: none;
    z-index: var(--z-menu);
    position: absolute 80px 0 auto;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .3s ease-out, opacity .2s linear;

    &.shown {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  & :any-link {
    display: inline-block;
    padding: 12px .5rem;
    color: white;
    font-weight: bold;
    text-decoration-line: none;

    @media (--mobile) {
      display: block;
      padding: .75em 0;
      text-align: center;
    }
  }
}

nav .primary {
  lost-column: 3/5 0 0;
  text-align: center;

  @media (--mobile) {
    lost-column: none;
    padding-bottom: .75em;
    border-bottom: 1px solid white;
  }
}

nav .session {
  clear: fix;
  lost-column: 2/5 0 0;
  text-align: right;

  @media (--mobile) {
    lost-column: none;

    & :any-link {
      lost-column: 1/2 0 0;
    }
  }
}

.signup {
  @apply --button;
  @apply --button-primary;
}

nav :any-link.signup {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;

  @media (--mobile) {
    margin-left: 0;
  }
}

.hamburger-menu {
  display: none;

  @media (--mobile) {
    display: block;
  }
}

.footer {
  color: white;
  background-color: #4a4a4a;
}

.slogan {
  margin-bottom: .5em;
}

.languages, .social-links {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;

  & > li {
    display: inline;
    font-size: 1rem;
  }
}

.languages :any-link {
  color: white;
  text-decoration: none;
}

.languages > li:not(:last-child):after {
  content: '|';
  margin: 0 .25em;
}

.social-links {
  position: absolute 1.5rem 1rem auto auto;
}

.social-links li {
  box-sizing: border-box;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  padding-top: .5em;
  border-radius: 50%;
  background-color: #8e8e8e;
  text-align: center;

  &:not(:last-child) {
    margin-right: .5em;
  }
}

.copyright {
  color: #8e8e8e;
}
