@font-face {
  font-family: "Kiro";
  src: url("/assets/fonts/Kiro W01 Regular.eot");
  src: url("/assets/fonts/Kiro W01 Regular.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/Kiro W01 Regular.woff2") format("woff2"),
       url("/assets/fonts/Kiro W01 Regular.woff") format("woff"),
       url("/assets/fonts/Kiro W01 Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kiro";
  src: url("/assets/fonts/Kiro W01 Light.eot");
  src: url("/assets/fonts/Kiro W01 Light.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/Kiro W01 Light.woff2") format("woff2"),
       url("/assets/fonts/Kiro W01 Light.woff") format("woff"),
       url("/assets/fonts/Kiro W01 Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Kiro";
  src: url("/assets/fonts/Kiro W01 Bold.eot");
  src: url("/assets/fonts/Kiro W01 Bold.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/Kiro W01 Bold.woff2") format("woff2"),
       url("/assets/fonts/Kiro W01 Bold.woff") format("woff"),
       url("/assets/fonts/Kiro W01 Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url('/assets/fonts/hack-regular-webfont.eot?v=2.020');
  src: url('/assets/fonts/hack-regular-webfont.eot?#iefix&v=2.020') format('embedded-opentype'),
       url('/assets/fonts/hack-regular-webfont.woff2?v=2.020') format('woff2'),
       url('/assets/fonts/hack-regular-webfont.woff?v=2.020') format('woff'),
       url('/assets/fonts/hack-regular-webfont.ttf?v=2.020') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url('/assets/fonts/hack-bold-webfont.eot?v=2.020');
  src: url('/assets/fonts/hack-bold-webfont.eot?#iefix&v=2.020') format('embedded-opentype'),
       url('/assets/fonts/hack-bold-webfont.woff2?v=2.020') format('woff2'),
       url('/assets/fonts/hack-bold-webfont.woff?v=2.020') format('woff'),
       url('/assets/fonts/hack-bold-webfont.ttf?v=2.020') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url('/assets/fonts/hack-italic-webfont.eot?v=2.020');
  src: url('/assets/fonts/hack-italic-webfont.eot?#iefix&v=2.020') format('embedded-opentype'),
       url('/assets/fonts/hack-italic-webfont.woff2?v=2.020') format('woff2'),
       url('/assets/fonts/hack-italic-webfont.woff?v=2.020') format('woff'),
       url('/assets/fonts/hack-italic-webfont.ttf?v=2.020') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Hack";
  src: url('/assets/fonts/hack-bolditalic-webfont.eot?v=2.020');
  src: url('/assets/fonts/hack-bolditalic-webfont.eot?#iefix&v=2.020') format('embedded-opentype'),
       url('/assets/fonts/hack-bolditalic-webfont.woff2?v=2.020') format('woff2'),
       url('/assets/fonts/hack-bolditalic-webfont.woff?v=2.020') format('woff'),
       url('/assets/fonts/hack-bolditalic-webfont.ttf?v=2.020') format('truetype');
  font-weight: 700;
  font-style: italic;
}
