@font-face {
  font-family: "Kiro";
  src: url("/assets/fonts/Kiro W01 Regular.eot");
  src: url("/assets/fonts/Kiro W01 Regular.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/Kiro W01 Regular.woff2") format("woff2"),
       url("/assets/fonts/Kiro W01 Regular.woff") format("woff"),
       url("/assets/fonts/Kiro W01 Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kiro";
  src: url("/assets/fonts/Kiro W01 Light.eot");
  src: url("/assets/fonts/Kiro W01 Light.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/Kiro W01 Light.woff2") format("woff2"),
       url("/assets/fonts/Kiro W01 Light.woff") format("woff"),
       url("/assets/fonts/Kiro W01 Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Kiro";
  src: url("/assets/fonts/Kiro W01 Bold.eot");
  src: url("/assets/fonts/Kiro W01 Bold.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/Kiro W01 Bold.woff2") format("woff2"),
       url("/assets/fonts/Kiro W01 Bold.woff") format("woff"),
       url("/assets/fonts/Kiro W01 Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url('/assets/fonts/hack-regular-webfont.eot?v=2.020');
  src: url('/assets/fonts/hack-regular-webfont.eot?#iefix&v=2.020') format('embedded-opentype'),
       url('/assets/fonts/hack-regular-webfont.woff2?v=2.020') format('woff2'),
       url('/assets/fonts/hack-regular-webfont.woff?v=2.020') format('woff'),
       url('/assets/fonts/hack-regular-webfont.ttf?v=2.020') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url('/assets/fonts/hack-bold-webfont.eot?v=2.020');
  src: url('/assets/fonts/hack-bold-webfont.eot?#iefix&v=2.020') format('embedded-opentype'),
       url('/assets/fonts/hack-bold-webfont.woff2?v=2.020') format('woff2'),
       url('/assets/fonts/hack-bold-webfont.woff?v=2.020') format('woff'),
       url('/assets/fonts/hack-bold-webfont.ttf?v=2.020') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url('/assets/fonts/hack-italic-webfont.eot?v=2.020');
  src: url('/assets/fonts/hack-italic-webfont.eot?#iefix&v=2.020') format('embedded-opentype'),
       url('/assets/fonts/hack-italic-webfont.woff2?v=2.020') format('woff2'),
       url('/assets/fonts/hack-italic-webfont.woff?v=2.020') format('woff'),
       url('/assets/fonts/hack-italic-webfont.ttf?v=2.020') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Hack";
  src: url('/assets/fonts/hack-bolditalic-webfont.eot?v=2.020');
  src: url('/assets/fonts/hack-bolditalic-webfont.eot?#iefix&v=2.020') format('embedded-opentype'),
       url('/assets/fonts/hack-bolditalic-webfont.woff2?v=2.020') format('woff2'),
       url('/assets/fonts/hack-bolditalic-webfont.woff?v=2.020') format('woff'),
       url('/assets/fonts/hack-bolditalic-webfont.ttf?v=2.020') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Linearicons';
  src: url('/assets/fonts/Linearicons.eot');
  src: url('/assets/fonts/Linearicons.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Linearicons.woff2') format('woff2'),
       url('/assets/fonts/Linearicons.woff') format('woff'),
       url('/assets/fonts/Linearicons.ttf') format('truetype'),
       url('/assets/fonts/Linearicons.svg#Linearicons-Free') format('svg');
  font-weight: normal;
  font-style: norma
}

[class*="icon-"] {
  font-family: 'Linearicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global(.icon-home:before) {
  content: "\e800";
}
:global(.icon-apartment:before) {
  content: "\e801";
}
:global(.icon-pencil:before) {
  content: "\e802";
}
:global(.icon-magic-wand:before) {
  content: "\e803";
}
:global(.icon-drop:before) {
  content: "\e804";
}
:global(.icon-lighter:before) {
  content: "\e805";
}
:global(.icon-poop:before) {
  content: "\e806";
}
:global(.icon-sun:before) {
  content: "\e807";
}
:global(.icon-moon:before) {
  content: "\e808";
}
:global(.icon-cloud:before) {
  content: "\e809";
}
:global(.icon-cloud-upload:before) {
  content: "\e80a";
}
:global(.icon-cloud-download:before) {
  content: "\e80b";
}
:global(.icon-cloud-sync:before) {
  content: "\e80c";
}
:global(.icon-cloud-check:before) {
  content: "\e80d";
}
:global(.icon-database:before) {
  content: "\e80e";
}
:global(.icon-lock:before) {
  content: "\e80f";
}
:global(.icon-cog:before) {
  content: "\e810";
}
:global(.icon-trash:before) {
  content: "\e811";
}
:global(.icon-dice:before) {
  content: "\e812";
}
:global(.icon-heart:before) {
  content: "\e813";
}
:global(.icon-star:before) {
  content: "\e814";
}
:global(.icon-star-half:before) {
  content: "\e815";
}
:global(.icon-star-empty:before) {
  content: "\e816";
}
:global(.icon-flag:before) {
  content: "\e817";
}
:global(.icon-envelope:before) {
  content: "\e818";
}
:global(.icon-paperclip:before) {
  content: "\e819";
}
:global(.icon-inbox:before) {
  content: "\e81a";
}
:global(.icon-eye:before) {
  content: "\e81b";
}
:global(.icon-printer:before) {
  content: "\e81c";
}
:global(.icon-file-empty:before) {
  content: "\e81d";
}
:global(.icon-file-add:before) {
  content: "\e81e";
}
:global(.icon-enter:before) {
  content: "\e81f";
}
:global(.icon-exit:before) {
  content: "\e820";
}
:global(.icon-graduation-hat:before) {
  content: "\e821";
}
:global(.icon-license:before) {
  content: "\e822";
}
:global(.icon-music-note:before) {
  content: "\e823";
}
:global(.icon-film-play:before) {
  content: "\e824";
}
:global(.icon-camera-video:before) {
  content: "\e825";
}
:global(.icon-camera:before) {
  content: "\e826";
}
:global(.icon-picture:before) {
  content: "\e827";
}
:global(.icon-book:before) {
  content: "\e828";
}
:global(.icon-bookmark:before) {
  content: "\e829";
}
:global(.icon-user:before) {
  content: "\e82a";
}
:global(.icon-users:before) {
  content: "\e82b";
}
:global(.icon-shirt:before) {
  content: "\e82c";
}
:global(.icon-store:before) {
  content: "\e82d";
}
:global(.icon-cart:before) {
  content: "\e82e";
}
:global(.icon-tag:before) {
  content: "\e82f";
}
:global(.icon-phone-handset:before) {
  content: "\e830";
}
:global(.icon-phone:before) {
  content: "\e831";
}
:global(.icon-pushpin:before) {
  content: "\e832";
}
:global(.icon-map-marker:before) {
  content: "\e833";
}
:global(.icon-map:before) {
  content: "\e834";
}
:global(.icon-location:before) {
  content: "\e835";
}
:global(.icon-calendar-full:before) {
  content: "\e836";
}
:global(.icon-keyboard:before) {
  content: "\e837";
}
:global(.icon-spell-check:before) {
  content: "\e838";
}
:global(.icon-screen:before) {
  content: "\e839";
}
:global(.icon-smartphone:before) {
  content: "\e83a";
}
:global(.icon-tablet:before) {
  content: "\e83b";
}
:global(.icon-laptop:before) {
  content: "\e83c";
}
:global(.icon-laptop-phone:before) {
  content: "\e83d";
}
:global(.icon-power-switch:before) {
  content: "\e83e";
}
:global(.icon-bubble:before) {
  content: "\e83f";
}
:global(.icon-heart-pulse:before) {
  content: "\e840";
}
:global(.icon-construction:before) {
  content: "\e841";
}
:global(.icon-pie-chart:before) {
  content: "\e842";
}
:global(.icon-chart-bars:before) {
  content: "\e843";
}
:global(.icon-gift:before) {
  content: "\e844";
}
:global(.icon-diamond:before) {
  content: "\e845";
}
:global(.icon-linearicons:before) {
  content: "\e846";
}
:global(.icon-dinner:before) {
  content: "\e847";
}
:global(.icon-coffee-cup:before) {
  content: "\e848";
}
:global(.icon-leaf:before) {
  content: "\e849";
}
:global(.icon-paw:before) {
  content: "\e84a";
}
:global(.icon-rocket:before) {
  content: "\e84b";
}
:global(.icon-briefcase:before) {
  content: "\e84c";
}
:global(.icon-bus:before) {
  content: "\e84d";
}
:global(.icon-car:before) {
  content: "\e84e";
}
:global(.icon-train:before) {
  content: "\e84f";
}
:global(.icon-bicycle:before) {
  content: "\e850";
}
:global(.icon-wheelchair:before) {
  content: "\e851";
}
:global(.icon-select:before) {
  content: "\e852";
}
:global(.icon-earth:before) {
  content: "\e853";
}
:global(.icon-smile:before) {
  content: "\e854";
}
:global(.icon-sad:before) {
  content: "\e855";
}
:global(.icon-neutral:before) {
  content: "\e856";
}
:global(.icon-mustache:before) {
  content: "\e857";
}
:global(.icon-alarm:before) {
  content: "\e858";
}
:global(.icon-bullhorn:before) {
  content: "\e859";
}
:global(.icon-volume-high:before) {
  content: "\e85a";
}
:global(.icon-volume-medium:before) {
  content: "\e85b";
}
:global(.icon-volume-low:before) {
  content: "\e85c";
}
:global(.icon-volume:before) {
  content: "\e85d";
}
:global(.icon-mic:before) {
  content: "\e85e";
}
:global(.icon-hourglass:before) {
  content: "\e85f";
}
:global(.icon-undo:before) {
  content: "\e860";
}
:global(.icon-redo:before) {
  content: "\e861";
}
:global(.icon-sync:before) {
  content: "\e862";
}
:global(.icon-history:before) {
  content: "\e863";
}
:global(.icon-clock:before) {
  content: "\e864";
}
:global(.icon-download:before) {
  content: "\e865";
}
:global(.icon-upload:before) {
  content: "\e866";
}
:global(.icon-enter-down:before) {
  content: "\e867";
}
:global(.icon-exit-up:before) {
  content: "\e868";
}
:global(.icon-bug:before) {
  content: "\e869";
}
:global(.icon-code:before) {
  content: "\e86a";
}
:global(.icon-link:before) {
  content: "\e86b";
}
:global(.icon-unlink:before) {
  content: "\e86c";
}
:global(.icon-thumbs-up:before) {
  content: "\e86d";
}
:global(.icon-thumbs-down:before) {
  content: "\e86e";
}
:global(.icon-magnifier:before) {
  content: "\e86f";
}
:global(.icon-cross:before) {
  content: "\e870";
}
:global(.icon-menu:before) {
  content: "\e871";
}
:global(.icon-list:before) {
  content: "\e872";
}
:global(.icon-chevron-up:before) {
  content: "\e873";
}
:global(.icon-chevron-down:before) {
  content: "\e874";
}
:global(.icon-chevron-left:before) {
  content: "\e875";
}
:global(.icon-chevron-right:before) {
  content: "\e876";
}
:global(.icon-arrow-up:before) {
  content: "\e877";
}
:global(.icon-arrow-down:before) {
  content: "\e878";
}
:global(.icon-arrow-left:before) {
  content: "\e879";
}
:global(.icon-arrow-right:before) {
  content: "\e87a";
}
:global(.icon-move:before) {
  content: "\e87b";
}
:global(.icon-warning:before) {
  content: "\e87c";
}
:global(.icon-question-circle:before) {
  content: "\e87d";
}
:global(.icon-menu-circle:before) {
  content: "\e87e";
}
:global(.icon-checkmark-circle:before) {
  content: "\e87f";
}
:global(.icon-cross-circle:before) {
  content: "\e880";
}
:global(.icon-plus-circle:before) {
  content: "\e881";
}
:global(.icon-circle-minus:before) {
  content: "\e882";
}
:global(.icon-arrow-up-circle:before) {
  content: "\e883";
}
:global(.icon-arrow-down-circle:before) {
  content: "\e884";
}
:global(.icon-arrow-left-circle:before) {
  content: "\e885";
}
:global(.icon-arrow-right-circle:before) {
  content: "\e886";
}
:global(.icon-chevron-up-circle:before) {
  content: "\e887";
}
:global(.icon-chevron-down-circle:before) {
  content: "\e888";
}
:global(.icon-chevron-left-circle:before) {
  content: "\e889";
}
:global(.icon-chevron-right-circle:before) {
  content: "\e88a";
}
:global(.icon-crop:before) {
  content: "\e88b";
}
:global(.icon-frame-expand:before) {
  content: "\e88c";
}
:global(.icon-frame-contract:before) {
  content: "\e88d";
}
:global(.icon-layers:before) {
  content: "\e88e";
}
:global(.icon-funnel:before) {
  content: "\e88f";
}
:global(.icon-text-format:before) {
  content: "\e890";
}
:global(.icon-text-format-remove:before) {
  content: "\e891";
}
:global(.icon-text-size:before) {
  content: "\e892";
}
:global(.icon-bold:before) {
  content: "\e893";
}
:global(.icon-italic:before) {
  content: "\e894";
}
:global(.icon-underline:before) {
  content: "\e895";
}
:global(.icon-strikethrough:before) {
  content: "\e896";
}
:global(.icon-highlight:before) {
  content: "\e897";
}
:global(.icon-text-align-left:before) {
  content: "\e898";
}
:global(.icon-text-align-center:before) {
  content: "\e899";
}
:global(.icon-text-align-right:before) {
  content: "\e89a";
}
:global(.icon-text-align-justify:before) {
  content: "\e89b";
}
:global(.icon-line-spacing:before) {
  content: "\e89c";
}
:global(.icon-indent-increase:before) {
  content: "\e89d";
}
:global(.icon-indent-decrease:before) {
  content: "\e89e";
}
:global(.icon-pilcrow:before) {
  content: "\e89f";
}
:global(.icon-direction-ltr:before) {
  content: "\e8a0";
}
:global(.icon-direction-rtl:before) {
  content: "\e8a1";
}
:global(.icon-page-break:before) {
  content: "\e8a2";
}
:global(.icon-sort-alpha-asc:before) {
  content: "\e8a3";
}
:global(.icon-sort-amount-asc:before) {
  content: "\e8a4";
}
:global(.icon-hand:before) {
  content: "\e8a5";
}
:global(.icon-pointer-up:before) {
  content: "\e8a6";
}
:global(.icon-pointer-right:before) {
  content: "\e8a7";
}
:global(.icon-pointer-down:before) {
  content: "\e8a8";
}
:global(.icon-pointer-left:before) {
  content: "\e8a9";
}
