*, *::before, *::after {
  box-sizing: border-box;
}

[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: "Kiro Regular", "Helvetica Neue", Helvetica, Arial, STHeiti, "Microsoft YaHei", 微软雅黑, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ember-application > div {
  animation: application .5s;
}

@keyframes application {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
