*, *::before, *::after {
  box-sizing: border-box;
}

[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

body {
  margin: 0;
  font: 16px/1.5 "Kiro Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ember-application > div {
  animation: application .5s;
}

@keyframes application {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
