@import "variables.css";

.layout-wrapper {
  clear: fix;
  position: relative;

  @media (width <= 960px) {
    lost-center: 100% 1rem;
  }

  @media (width <= 1200px) {
    lost-center: 960px;
  }

  @media (width > 1200px) {
    lost-center: 1200px;
  }
}

.banner {
  color: white;
  background-color: var(--purple);
}

.banner h1 {
  margin: 0;
  font-family: "Kiro Bold", sans-serif;

  @media (--mobile) {
    float: right;

    & > small {
      display: inline-block;
      font-size: .67em;
      transform: translateY(-3px);
    }
  }
}

.banner nav {
  font-family: "Kiro Light", sans-serif;
  background-color: var(--purple);

  @media(--mobile) {
    z-index: var(--z-menu);
    position: absolute 48px 0 auto;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .3s ease-out, opacity .2s linear;

    &.shown {
      opacity: 1;
      transform: scaleY(1);
    }
  }
}

.banner nav :any-link {
  color: white;
  text-decoration-line: none;

  @media (--mobile) {
    display: block;
    padding: .75em 0;
    text-align: center;
  }
}

.banner .primary {
  @media (--mobile) {
    border-bottom: 1px solid white;
    padding-bottom: .75em;
  }
}

.banner .session {
  clear: fix;

  & :any-link {
    @media (--mobile) {
      lost-column: 1/2 0 0;
    }
  }
}

.hamburger-menu {
  display: inline-block;
  @media (--tablet), (--laptop), (--desktop) {
    display: none;
  }
}

.footer {
  position: relative;
  color: white;
  background-color: var(--block-background);
}

.slogan {
  margin-bottom: .5em;
}

.languages, .social-links {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;

  & > li {
    display: inline;
    font-size: 1rem;
  }
}

.languages :any-link {
  color: white;
  text-decoration: none;
}

.languages > li:not(:last-child):after {
  content: '|';
  margin: 0 .25em;
}

.social-links {
  position: absolute 1.5rem 1rem auto auto;
}

.social-links li {
  box-sizing: border-box;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  padding-top: .5em;
  border-radius: 50%;
  background-color: #8e8e8e;
  text-align: center;

  &:not(:last-child) {
    margin-right: .5em;
  }
}

.copyright {
  color: #8e8e8e;
}
