<h1>choice form: form follows choice ｜ 巧思：听从内心的选择</h1>
<h2>choice form: form follows choice ｜ 巧思：听从内心的选择</h2>
<h3>choice form: form follows choice ｜ 巧思：听从内心的选择</h3>
<h4>choice form: form follows choice ｜ 巧思：听从内心的选择</h4>
<h5>choice form: form follows choice ｜ 巧思：听从内心的选择</h5>
<h6>choice form: form follows choice ｜ 巧思：听从内心的选择</h6>

{{#mark-down presets="commonmark"}}
````htmlbars
&lt;h1&gt;choice form: form follows choice ｜ 巧思：听从内心的选择&lt;/h1&gt;
&lt;h2&gt;choice form: form follows choice ｜ 巧思：听从内心的选择&lt;/h2&gt;
&lt;h3&gt;choice form: form follows choice ｜ 巧思：听从内心的选择&lt;/h3&gt;
&lt;h4&gt;choice form: form follows choice ｜ 巧思：听从内心的选择&lt;/h4&gt;
&lt;h5&gt;choice form: form follows choice ｜ 巧思：听从内心的选择&lt;/h5&gt;
&lt;h6&gt;choice form: form follows choice ｜ 巧思：听从内心的选择&lt;/h6&gt;
````

字体的全部定义位于 `app/styles/common/fontface.css` 文件中。除非更换字体，否则不需要改动。随架构携带了一些 web 字体，分别是：

1. Sans Serif 英文字体：Kiro Regular/Bold/Light
2. Monospace 英文字体：Hack Regular/Bold/Italic/BoldItalic

全局的字体定义位于 `app/styles/common/global.css` 文件中：

````less
body {
  font: 16px/1.5 Kiro, Helvetica Neue, Helvetica, Arial, Pingfang SC, STHeiti, Microsoft YaHei, 微软雅黑, sans-serif;
}

pre, code {
  font: 0.875rem / 1.5 Hack, monospace;
}
````

不用为字重的变化单独指定字形，只需要改变 `font-weight` 属性的值即可。

下面是标准的字体段落范例：
{{/mark-down}}

<p>庆历四年春，滕子京谪守巴陵郡。越明年，政通人和，百废具兴。乃重修岳阳楼，增其旧制，刻唐贤今人诗赋于其上。属予作文以记之。</p>

<p>予观夫巴陵胜状，在洞庭一湖。衔远山，吞长江，浩浩汤汤，横无际涯；朝晖夕阴，气象万千。此则岳阳楼之大观也，前人之述备矣。然则北通巫峡，南极潇湘，迁客骚人，多会于此，览物之情，得无异乎？</p>

<p>若夫霪雨霏霏，连月不开，阴风怒号，浊浪排空；日星隐曜，山岳潜形；商旅不行，樯倾楫摧；薄暮冥冥，虎啸猿啼。登斯楼也，则有去国怀乡，忧谗畏讥，满目萧然，感极而悲者矣。</p>

<p>至若春和景明，波澜不惊，上下天光，一碧万顷；沙鸥翔集，锦鳞游泳；岸芷汀兰，郁郁青青。而或长烟一空，皓月千里，浮光跃金，静影沉璧，渔歌互答，此乐何极！登斯楼也，则有心旷神怡，宠辱偕忘，把酒临风，其喜洋洋者矣。</p>

<p>嗟夫！予尝求古仁人之心，或异二者之为。何哉？不以物喜，不以己悲；居庙堂之高则忧其民；处江湖之远则忧其君。是进亦忧，退亦忧。然则何时而乐耶？其必曰：“先天下之忧而忧，后天下之乐而乐”乎。噫！微斯人，吾谁与归？</p>

<p>时六年九月十五日。</p>

{{yield}}
