@import "common/variables.css";


.header-wrapper{
  padding: 16rem  1rem;
  background-color: var(--blue);
  text-align: center;
  color: white;
  & p{
    font-size: responsive 1.5625rem 2.5rem;
    line-height: 1.5;
  }
}
