<div local-class="list-wrapper">
  {{#each data as |d|}}
      <div local-class="list">
          <div class="title">
              {{d.title}}
          </div>
          <div class="description">
            {{d.description}}
          </div>
      </div>
  {{/each}}
</div>