<div local-class="content-box">
  <p>试一试,比你想的要更好</p>
  <span local-class="describe">Far far away, behind the word mountains, far from the countries </span>
  <span local-class="more">Learn More &nbsp; ></span>
</div>
<div local-class="example-box">
  <div local-class="phone-box">
  </div>
  <div local-class="content-screen">
    <div local-class="view-screen"></div>
    <div local-class="view-screen"></div>
    <div local-class="view-screen"></div>
    <div local-class="view-screen"></div>
  </div>
</div>
