<div local-class="content-box">
  <p>{{t "home.example.title"}}</p>
  <span local-class="describe">{{t "home.example.describe"}}</span>
  <span local-class="more">{{t "application.learnMore"}}</span>
</div>
<div local-class="example-box">
  <ul local-class="content-screen">
    <li><div local-class="view-screen"></div></li>
    <li><div local-class="view-screen"></div></li>
    <li><div local-class="view-screen"></div></li>
    <li><div local-class="view-screen"></div></li>
  </ul>
</div>
