<div local-class="fun-wrapper">
    <div local-class="fun-left-wrapper half">

    </div>

    <div local-class="fun-right-wrapper half">
        <div local-class="info-block">
            <p>{{{t "home.functions.title"}}}</p>
            <p>{{{t "home.functions.description"}}}</p>
          {{link-to (t "home.showcase.know-more") "features" local-class = 'link'}}
        </div>
    </div>

</div>
