<div local-class="text-wrapper">
    <div local-class="info-wrapper">
        <div local-class="info-block">
            <p local-class="title">{{{t "home.functions.title"}}}</p>
            <p local-class="description">{{{t "home.functions.description"}}}</p>
          {{link-to (t "home.showcase.know-more") "features" local-class = 'link'}}
        </div>
    </div>
</div>

<div local-class="image-wrapper">
    <img local-class="wave" src="assets/imgs/wave.png"/>
    <img local-class="computer" src="assets/imgs/computer.png"/>
</div>
