<div local-class="content-box">
  <div local-class="content">
    <p>{{t "home.service.title"}}</p>
    <span local-class="describe">{{t "home.service.describe"}}</span>
    <span local-class="more">{{t "application.learnMore"}}</span>
  </div>
</div>
<div local-class="img-box">
    <img src="http://placehold.it/350x150"/>
</div>
