<div local-class="content-box">
  <div local-class="content">
    <p>{{t "application.service.title"}}</p>
    <span local-class="describe">{{t "application.service.describe"}}</span>
    <span local-class="more">{{t "application.service.operation"}}</span>
  </div>
</div>
<div local-class="img-box">
    <img src="http://placehold.it/350x150"/>
</div>
