<!-- <div local-class="background"><img src={{currentBackground}} /></div> -->

<div local-class="wrapper">
  <div class="swiper-container" local-class="container">
    <div class="swiper-wrapper">
      {{#each examples as |e|}}
        <section class="swiper-slide" local-class="slide">
          <h2>{{e.title}}</h2>
          <p>{{e.description}}</p>
          {{link-to "Go To Example" "examples" class=styles.button}}
        </section>
      {{/each}}
    </div>
    <div local-class="pagination"></div>
  </div>
</div>
