<div local-class="wrapper">
  {{#ui/swiper-slider
     options=(hash
     autoplay=1000
     effect="fade" fade=(hash crossFade=true)
     grabCursor=true
     nextButton=".swiper-button-next"
     prevButton=".swiper-button-prev"
     pagination=(concat "." styles.pagination)
     paginationClickable=true
     speed=1000)
  }}
    {{#each examples as |example|}}
      <section class="swiper-slide" local-class="slide">
        <h2>{{example.title}}</h2>
        <p>{{example.description}}</p>
        {{#link-to "examples" local-class="button"}}
          {{t "home.example-slides.see-it-in-action"}}
        {{/link-to}}
      </section>
    {{/each}}
  {{/ui/swiper-slider}}
</div>
