<div local-class="wrapper">
  <section local-class="heading">
    <header>tour</header>
    <p>
      Mauris vel felis id mauris ultricies posuere. Cras imperdiet, mi vel volutpat suscipit, ligula metus sagittis dolor, ut fermentum nulla ante semper tortor.
    </p>
  </section>
  
  <ul local-class="list">
    {{#each features as |f|}}
      {{#link-to "features" tagName="li"}}
        {{#link-to "features" class=styles.link}}
          <div><span class="icon-linearicons" local-class="icon"></span></div>
          <div local-class="title"><strong>{{f.title}}</strong></div>
          <div><small>{{f.description}}</small></div>
        {{/link-to}}
      {{/link-to}}
    {{/each}}
  </ul>
</div>
