<div class="layout-wrapper">
  <div class={{styles.wrapper}}>
    <section>
      <header class={{styles.slogan}}>form follows choice</header>
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
      <div>
        {{link-to "Let's get start!" "signup" class=styles.get-start}}
      </div>
      <div>
        <button type="button" class={{styles.play-video}}></button>
      </div>
    </section>
  </div>
</div>
