<div local-class="wrapper">
  <section>
    <header local-class="slogan">{{t "application.slogan"}}</header>
    <p>{{{t "home.showcase.description"}}}</p>
    <div>
      {{link-to (t "home.showcase.know-more") "signup" local-class="know-more"}}
    </div>
  </section>
</div>
