@import "../common/variables.css";

.banner {
  clear: fix;
  color: white;
  background-color: var(--purple);
}

.banner h1 {
  margin: 0;
  font-family: "Kiro Bold", sans-serif;

  @media (--mobile) {
    lost-column: 3/5 0 0;
    lost-offset: -3/5;

    & > small {
      display: inline-block;
      font-size: .67em;
      transform: translateY(-3px);
    }
  }
}

.banner nav {
  font-family: "Kiro Light", sans-serif;
  background-color: var(--purple);

  @media(--mobile) {
    z-index: var(--z-menu);
    position: absolute 48px 0 auto;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .3s ease-out, opacity .2s linear;

    &.shown {
      opacity: 1;
      transform: scaleY(1);
    }
  }
}

.banner nav :any-link {
  color: white;
  text-decoration-line: none;

  @media (--mobile) {
    display: block;
    padding: .75em 0;
    text-align: center;
  }
}

.banner .primary {
  @media (--mobile) {
    border-bottom: 1px solid white;
    padding-bottom: .75em;
  }
}

.banner .session {
  clear: fix;

  & :any-link {
    @media (--mobile) {
      lost-column: 1/2 0 0;
    }
  }
}

.hamburger-menu {
  display: inline-block;
  @media (--tablet), (--laptop), (--desktop) {
    display: none;
  }
}

