<div class="{{styles.loader}}">
  <div class="{{styles.loader-outer}}"></div>
  <div class="{{styles.loader-inner}}"></div>
  <svg class="{{styles.loader-character}}" viewBox="-90 -60 300 300">
    <path d="M23.4586654,114.331395 L23.4586654,65.6686047 C23.4586654,35.5813953 35.7093017,20.6686047 60.7318781,20.6686047 C77.6742476,20.6686047 89.4035803,27.7325581 96.7018317,41.0755814 C98.2657427,43.9534884 100.611609,44.7383721 103.478779,42.9069767 L113.122897,37.4127907 C115.990068,35.8430233 116.772023,33.4883721 115.208112,30.6104651 C104.521387,10.2034884 86.2757582,0 60.7318781,0 C21.3734507,0 0,21.9767442 0,62.7906977 L0,117.209302 C0,158.023256 21.3734507,180 60.7318781,180 C86.0151064,180 104.260735,169.796512 115.208112,149.389535 C116.772023,146.511628 115.729416,144.156977 113.122897,142.587209 L103.478779,137.093023 C100.611609,135.261628 98.2657427,136.046512 96.7018317,139.186047 C89.4035803,152.267442 77.6742476,159.331395 60.7318781,159.331395 C35.7093017,159.331395 23.4586654,144.418605 23.4586654,114.331395 Z"></path>
  </svg>
</div>
