<p class="slogan">form follows choice</p>

<ul class="languages">
  <li><small>{{link-to "中文" "i18n" (query-params code="zh-cn")}}</small></li>
  <li>{{link-to "En" "i18n" (query-params code="en-us")}}</li>
</ul>

<ul class="social-links">
  <li>F</li>
  <li>G</li>
  <li>T</li>
</ul>

<p class="copyright"><small>&copy; 2016 choice form. All rights reserved</small></p>
