

<div local-class="content-wrapper">
    <div local-class="back">
        <svg viewBox="20 20 20 20">
            <polygon stroke="none" fill="#FFFFFF" fill-rule="evenodd"
                     points="30 27.5 22.5 20 20 22.5 27.5 30 20 37.5 22.5 40 30 32.5 37.5 40 40 37.5 32.5 30 40 22.5 37.5 20"></polygon>
        </svg>
    </div>
  {{yield}}
</div>
