<div class="swiper-wrapper">
  {{yield}}
</div>

{{#if $prevButton}}
  <div class={{$prevButton}}></div>
{{/if}}
{{#if $nextButton}}
  <div class={{$nextButton}}></div>
{{/if}}

{{#if $pagination}}
  <div class={{$pagination}}></div>
{{/if}}

{{#if $scrollbar}}
  <div class={{$scrollbar}}></div>
{{/if}}
